/* @drop-in/decks Specific Styles */

/* Accordion */
.di-accordion {
  margin-block: 0 var(--vs-base);
  summary {
    font-size: var(--base);
    padding: 2rem 1rem;
    border-block-end: solid 1px var(--tint-or-shade);
  }
  border-block-end: solid 1px var(--tint-or-shade);
}

/* Share */
.di-dialog {
  border-radius: var(--br-m);
  max-width: 60ch;
  border: none;
  padding: var(--pad-m);
  position: relative;
  box-shadow: var(--shadow-5);
  &::backdrop {
    background-color: rgb(0 0 0 / 0.5);
    backdrop-filter: blur(5px);
  }
  > *:first-child {
    margin-block-start: 0;
  }
  .share-window {
    display: flex;
    align-items: center;
  }
  a {
    text-decoration: none;
  }
}
.di-drawer {
  border: none;
  border-radius: var(--br-m);
  padding: var(--pad-m);
  box-shadow: var(--shadow-5);
  &::backdrop {
    background-color: rgb(0 0 0 / 0.5);
    backdrop-filter: blur(5px);
  }
}

.di-drawer-close-button {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.di-dialog-close {
  position: absolute;
  border: none;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  line-height: var(--fs-s);
  font-size: var(--fs-s);
  cursor: pointer;
}

/* Menu */
.di-menu {
  background: var(--bg);
  box-shadow: var(--shadow-3);
  border-radius: var(--br-m);
  padding: var(--pad-s);
  flex-direction: column;
  border: solid 1px var(--tint-or-shade);
  width: 150px;
  z-index: 10;
  .di-menu-inner {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  button,
  a {
    line-height: 1;
    text-decoration: none;
    background: transparent;
    color: var(--fg);
    gap: 10px;
    padding: var(--pad-s);
    align-items: center;
    border-radius: var(--br-s);
    border: none;
    width: 100%;
    display: flex;
    &:hover,
    &:active {
      background: var(--tint-or-shade);
    }
  }
}

.di-toast-slice {
  background: var(--bg);
  box-shadow: var(--shadow-3);
  border-radius: var(--br-s);
  padding: var(--pad-m) var(--pad-l);
  flex-direction: column;
  border: solid 1px var(--tint-or-shade);
  z-index: 10;
  overflow: hidden;
  position: relative;
  .progress {
    --info: var(--blue);
    --success: var(--green);
    --warning: var(--yellow);
    --error: var(--red);
  }
}
